In [22]:
from sklearn.naive_bayes import CategoricalNB
clf=CategoricalNB()

In [23]:
import pandas as pd
NB=pd.read_csv("Downloads\\NB.csv")
NB

     Outlook Temperature Humidity Windy Play
0      Sunny         Hot     High    No   No
1      Sunny         Hot     High   Yes   No
2   Overcast         Hot     High    No  Yes
3      Rainy        Mild     High    No  Yes
4      Rainy        Cool   Normal    No  Yes
5      Rainy        Cool   Normal   Yes   No
6   Overcast        Cool   Normal   Yes  Yes
7      Sunny        Mild     High    No   No
8      Sunny        Cool   Normal    No  Yes
9      Rainy        Mild   Normal    No  Yes
10     Sunny        Mild   Normal   Yes  Yes
11  Overcast        Mild     High   Yes  Yes
12  Overcast         Hot   Normal    No  Yes
13     Rainy        Mild     High   Yes   No

In [24]:
NB_label=NB.copy()

In [25]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [26]:
NB_label.iloc[:,4]=labelencoder.fit_transform(NB_label.iloc[:,4])
NB_label.iloc[:,0]=labelencoder.fit_transform(NB_label.iloc[:,0])
NB_label.iloc[:,1]=labelencoder.fit_transform(NB_label.iloc[:,1])
NB_label.iloc[:,2]=labelencoder.fit_transform(NB_label.iloc[:,2])
NB_label.iloc[:,3]=labelencoder.fit_transform(NB_label.iloc[:,3])

In [27]:
NB_label

    Outlook  Temperature  Humidity  Windy  Play
0         2            1         0      0     0
1         2            1         0      1     0
2         0            1         0      0     1
3         1            2         0      0     1
4         1            0         1      0     1
5         1            0         1      1     0
6         0            0         1      1     1
7         2            2         0      0     0
8         2            0         1      0     1
9         1            2         1      0     1
10        2            2         1      1     1
11        0            2         0      1     1
12        0            1         1      0     1
13        1            2         0      1     0

In [28]:
X=NB_label.iloc[:,:-1]
Y=NB_label.iloc[:,-1]

In [29]:
clf.fit(X,Y,)

CategoricalNB()

In [33]:
import numpy as np
X_test=np.array([[0,2,0,0]])

In [34]:
print(clf.predict(X_test))

[1]

In [35]:
clf.predict_proba(X_test)

array([[0.16557701, 0.83442299]])